<!DOCTYPE html> 
<html> 
<head> 
<title>
Flask Multiple Upload
</title> <link rel="stylesheet" type="text/css" 
href="{{ url_for('static', filename='css/style.css') }}"> 
</head> 


<body>
<h1>OMedia Player Interface</h1>


Only upload H.264 encoded files such as<strong> AVI, MOV, MK4, MP4, and M4V</strong> in the form below.<p>

<hr><p>


<!--
    AUDIO
-->
<form id="configuration_options" action="/update_configuration" method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <div id="heading1">
                    Audio Output
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="radioButtons">
                    <input type="radio" onclick="document.getElementById('configuration_options').submit();" name="audio_output" id="both" value="both" {{configuration['audio']['audio_output']['both']}}> HDMI and Analog
                </div>
            </td>
            <td>
                <div id="radioButtons">
                    <input type="radio" onclick="document.getElementById('configuration_options').submit();" name="audio_muting" value="unmute" {{configuration['audio']['audio_muting']['unmute']}}> Unmute
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="radioButtons">
                    <input type="radio" onclick="document.getElementById('configuration_options').submit();" name="audio_output" value="hdmi" {{configuration['audio']['audio_output']['hdmi']}}> HDMI only
                </div>
           </td>     
            <td>
                <div id="radioButtons">
                    <input type="radio" onclick="document.getElementById('configuration_options').submit();" name="audio_muting" value="mute" {{configuration['audio']['audio_muting']['mute']}}> Mute
                </div>            
            </td>   
        </tr>
        <tr>
            <td>
                <div id="radioButtons">
                    <input type="radio" onclick="document.getElementById('configuration_options').submit();" name="audio_output" value="analog" {configuration['audio']['audio_output']['analog']}}>  Analog only
                </div>             
            </td>
        </tr>   
    </table>   
<!--
    Display
-->
    <table>
        <tr>
            <td>
                <div id="heading1">
                    Display Output
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td>
                <div id="radioButtons">
                    <input type="radio" onclick="document.getElementById('configuration_options').submit();" name="display_output" value="hdmi" {{configuration['display']['display_output']['hdmi']}}> HDMI
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="radioButtons">
                    <input type="radio" onclick="document.getElementById('configuration_options').submit();" name="display_output" value="none" {{configuration['display']['display_output']['none']}}> None
                </div>           
            </td>        
        </tr>  
<!--
    Player
-->
    <table>
        <tr>
            <td>
                <div id="heading1">
                    Player
                </div>
            </td>
            <td>
        </tr>
</form>
<form id="reboot" action="/reboot">
        <tr>
            <td>
                <div id="radioButtons">
                    <button type="reboot" onclick="reboot()">Reboot</button>
                </div>
            </td>
        </tr> 
    </table>   
</form>
<!--
    File Uploads
-->
    <div id="heading1">
        Files:<br>
    </div>
    <div id="normal">
        Select files OR drag them into the box below.
    </div>
    
    <table>
        <tr>
            {{configuration['dropbox']['html']}}
        </tr>
    </table>
    <div id="heading1">
        Playlist:<br>
    </div>
    <div id="normal">
        Deleting will delete media from device and cannot be undone.
    </div>
<form id="configuration_options" action="/update_configuration" method="POST" enctype="multipart/form-data">
<form id="deleteFile" action="/deletefile" method="POST" enctype="text/plain" >
    <table>
            {{configuration['playlist']['html']}}
    </table>
</form>
    <p>

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>
<!--
</form>
-->

<script>
    function reboot() 
    {
        document.getElementById('reboot').submit();
    }
    function deleteFile(filePath)
    {
        document.getElementById('deleteFile').submit();
    }
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>


</body>
</html>
